<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% set title = "go-fiber-template" %}
        {% block title %} {{ title }} {% endblock %}
    </title>

    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap-5.3.2.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/bootstrap-icons-1.11.1.min.css" crossorigin="anonymous">
    <script src="/static/js/bootstrap.bundle.min-5.3.2.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include "partials/header.html" %}

    {% if errors %}
    <div class="mt-3 container-fluid">
        {% for error in errors %}
            <div class="p-3 alert alert-danger">{{ error }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="container">
        {% block content %} {% endblock %}
    </div>

    {% include "partials/footer.html" %}
</body>
</html>
